//fonts

@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,300;0,400;0,700;0,900;1,400&family=Roboto&display=swap");

//variables

$accent_color: #f16d7f;
$card_txt_color: #5d5d5d;
$form_txt_color:  #B1B1B1;
$title_color: #222;
$subtitle_color: #9f9f9f;
$bg_color_dark: #222;
$bg_color_light: #f1e4e6;
$bg_color_card: #f8f8f8;
$nav_link_color: #6f6e6e;
$hover_header_color: #3f3f3f;

$fs_main: 0.9rem;
$fs_title: 1rem;

// extends

%card_text {
  font-weight: 300;
  font-size: $fs_main;
  color: $card_txt_color;
  line-height: 1.06rem;
  margin-bottom: 18px;
}

%n_link_txt {
  font-weight: 400;
  font-size: $fs_main;
  line-height: 1.06rem;
  color: $nav_link_color;
}
%card_price {
  font-size: $fs-main;
  color: $accent-color;
  text-transform: uppercase;
}
%btn_prime {
  display: inline-block;
  padding: 14px 38px;
  color: $accent-color;
  font-size: $fs_title;
  text-align: center;
  border: 1px solid $accent_color;
  cursor: pointer;
}
%form_input_reg{
  margin-bottom: 20px;
  width: 360px;
  height: 45px;
  padding: 14px 16px;
  border: 1px solid #A4A4A4;

  font-size: $fs-main;
  font-weight: 300;
  color: $form_txt_color;
  &:active{
    border-color: $accent_color;
    /*box-shadow: 1px 1px 1px 0 $accent_color;*/
  }
  &:focus{
    border-color: $accent_color;
    /*box-shadow: 1px 1px 1px 0 $accent_color;*/
    outline: none;
  }
}

*,
*::after,
*::before {
  box-sizing: border-box;
}

html {
  font-size: 16px;
}

body {
  font-family: "Lato", sans-serif, "Roboto", sans-serif;
  overflow-x: hidden;
}

img {
  display: inline-block;
  max-width: 100%;
  height: auto;
  vertical-align: middle;
}

ul,
ol {
  list-style: none;
}

a {
  text-decoration: none;
}

button {
  border: none;

  &:active {
    outline: none;
  }
}

.visually--hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  border: 0;
  clip: rect(0 0 0 0);
}

.container {
  max-width: 1140px;
  width: 100%;
  margin: 0 auto;
}

/*------------------------------------------------------------*/
